@import "tailwindcss";

:root {
  --background: #1E1F24;
  --foreground: #ededed;
  --surface: #3A3D46;
  --primary: #B56BFF;
  --accent-pink: #F16197;
  --accent-teal: #3EC7C2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-accent-pink: var(--accent-pink);
  --color-accent-teal: var(--accent-teal);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}